<%= form_with model: donator, data: {controller: "file", file_target: 'form'}, class:"mt-44 border border-gray-300 rounded-md p-8" do |f| %>
  <div class="flex flex-col gap-y-5">
    <div class="relative z-0 w-full mb-5 group">
      <%= f.label :first_name, 'Prénom(s)', class:"after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-base text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
      <%= f.text_field :first_name, class:"block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500" %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= f.text_field :last_name, class:"block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500" %>
      <%= f.label :last_name, 'Nom', class:"after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-base text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= f.text_field :email, class:"block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500" %>
      <%= f.label :email, class:"after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-base text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= f.text_field :adress, class: "block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500" %>
      <%= f.label :adress, 'Adresse', class:"peer-focus:font-medium absolute text-base text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= f.text_field :city, class: "block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500" %>
      <%= f.label :city, 'Ville', class:"peer-focus:font-medium absolute text-base text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= f.text_field :zip_code, class: "block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500" %>
      <%= f.label :zip_code, 'Code Postal', class:"peer-focus:font-medium absolute text-base text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="hidden flex-col gap-y-2">
      <%= f.select :country, [["France", "France"]], class: "block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500" %>
      <%= f.label :country, 'Pays', class:"peer-focus:font-medium absolute text-base text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="fixed top-10 left-[calc(50%-56px)]">
      <button type="button" class="relative size-28" data-action="click->file#openField">

        <div class="absolute z-20 top-0 size-max">
          <% if donator.profile_image.attached? %>
              <%= cl_image_tag(donator.profile_image.key, transformation: [
                {height: 112, width: 112, crop: "thumb"},
                {radius: "max"},
                {fetch_format: "auto"}
                ]) %>
          <% else %>
            <div class="flex justify-center items-center size-20 rounded-full bg-gray-300">
              <%= svg_tag('image_empty', class:'size-8 bg-inherit text-gray-100') %>
            </div>
          <% end %>

          <div class="absolute z-30 top-0 rounded-full hidden" data-file-target="canvasContainer">
            <img data-file-target="canvas" class="size-28 bg-white rounded-full" src="">
          </div>

          <span class="absolute z-50 bottom-0 right-0 bg-white rounded-full p-2 border border-gray-200">
            <%= svg_tag('edit_pen', class: 'size-4') %>
          </span>
        </div>
      </button>

      <%= f.file_field :profile_image, class:"hidden", data: { file_target: "source", action: "change->file#preview" } %>
    </div>


    <div class="mt-4">
      <%= f.submit "Enregistrer",
                                disabled: true,
                                class:'block disabled:hidden px-1 py-3 w-full  bg-black w-full text-white text-center text-lg tracking-widest rounded-lg',
                                data: { file_target: 'submitBtn' } %>
    </div>
  </div>
<% end %>
