<nav data-controller="navbar" id="menu" data-navbar-target="menu" class="flex flex-col items-center fixed z-50 inset-y-0 -right-64 h-dvh w-64 gap-y-12 py-20 px-6 bg-white transition transform delay-0 duration-500 ease-in-out">
  <!--indicateurs - start -->
  <div class="flex flex-row gap-x-6">
    <!--indicateur box 1 -->
    <div class="flex flex-col justify-center items-center">
      <%= icon("fa-solid", "gift") %>
      <p> <%= @donations.count %> <%= @donations.count <= 1 ? 'don' : 'dons' %> </p>
    </div>
    <!--indicateur box 2 -->
    <div class="flex flex-col justify-center items-center">
      <%= icon("fa-solid", "euro-sign") %>
      <p> <%= number_to_currency(@total.to_f / 100, unit: '', format: '%n%u', strip_insignificant_zeros: true) %> <%= @total > 1 ? 'euros' : 'euro' %></p>
    </div>

  </div>
  <!--indicateurs - end -->

  <!--menu items - start -->
  <div class="w-full space-y-10 text-sm">

    <%# general menu items %>
    <div class="space-y-2">
      <p class="font-medium">General</p>
      <ul class="flex flex-col justify-center items-start gap-y-2 w-full">

        <li class="w-full px-4 py-2 border border-gray-200 rounded-md">
          <%= link_to donator_donations_path(donator) do %>
            <div class="flex flex-row justify-start items-center gap-x-4">
              <%= icon("fa-solid", "clock-rotate-left") %>
              <p>Mes donations</p>
            </div>
          <% end %>
        </li>

        <li class="w-full px-4 py-2 border border-gray-200 rounded-md">
          <%= link_to "#" do %>
            <div class="flex flex-row justify-start items-center gap-x-4">
              <%= svg_tag('gear', class:'size-4') %>
              <p>Mon compte</p>
            </div>
          <% end %>
        </li>

      </ul>
    </div>

    <%# support menu items %>
    <div class="space-y-2">
      <p class="font-medium">Support</p>
      <ul>
        <li class="w-full px-4 py-2 border border-gray-200 rounded-md">
          <%= link_to "mailto:support@goodify.fr?subject=Reference-#{donator.id}:&body=Merci de ne pas effacer le numéro de référence en objet. #{donator.first_name.capitalize} , comment puis-je vous aidez ?" do %>
            <div class="flex flex-row justify-start items-center gap-x-4">
              <%= svg_tag('message_box', class:'size-4 stroke-2') %>
              <p>Nous contacter </p>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</nav>
