<nav data-controller="navbar" id="menu" data-navbar-target="menu" class="flex flex-col items-center fixed z-50 inset-y-0 -right-64 h-screen w-64 gap-y-12 py-20 px-10 bg-white transition transform delay-0 duration-500 ease-in-out">
  <!--indicateurs - start -->
  <div class="flex flex-row gap-x-6">
    <!--indicateur box 1 -->
    <div class="flex flex-col justify-center items-center">
      <%= icon("fa-solid", "gift") %>
      <p> <%= @donations.count %> <%= @donations.count == 1 ? 'don' : 'dons' %> </p>
    </div>
    <!--indicateur box 2 -->
    <div class="flex flex-col justify-center items-center">
      <%= icon("fa-solid", "euro-sign") %>
      <p> <%= number_to_currency(@total.to_f / 100, unit: '', format: '%n%u', strip_insignificant_zeros: true) %> <%= @total > 1 ? 'euros' : 'euro' %></p>
    </div>

  </div>
  <!--indicateurs - end -->

  <!--menu items - start -->
  <div>
    <ul class="flex flex-col justify-center items-start gap-y-12">

      <li>
      <!-- TODO: change the link later-->
        <%= link_to donator_donations_path(donator) do %>
          <div class="flex flex-row justify-center items-baseline gap-x-2">
            <%= icon("fa-solid", "clock-rotate-left") %>
            <p>Mes donations</p>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to "#" do %>
          <div class="flex flex-row justify-center items-baseline gap-x-2">
            <%= icon("fa-solid", "gear") %>
            <p>Mon compte</p>
          </div>
        <% end %>
      </li>

    </ul>
  </div>
  <!--menu items - end -->
</nav>
