<div data-controller="toggle-button" class="space-y-4">
  <input data-action="toggle-button#toggle" class="focus:" type="checkbox" id="tos">
  <label for="tos">J'accepte <a href="#" class="text-blue-600 visited:text-purple-800">les Conditions Générales d'Utilisation</a> ainsi que les <a href="https://stripe.com/connect-account/legal" target="_blanck" class="text-blue-600 visited:text-purple-800">Conditions d'Utilisation des Comptes Connectés Stripe</a>.</label>

  <form action="/assos/account" method="POST" data-turbo="false" data-controller="stripe" data-stripe-target="form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="name" value="<%= current_user.asso.name %>">
    <input type="hidden" name="line1" value="<%= "#{current_user.asso.places.first.street_no} #{current_user.asso.places.first.address}" %>">
    <input type="hidden" name="city" value="<%= current_user.asso.places.first.city %>">
    <input type="hidden" name="postal_code" value="69001">
    <input type="hidden" name="country" value="FR">
    <input type="hidden" name="structure" value="incorporated_non_profit">

    <input type="hidden" name="account[account_token]" id="token_account">
    <input type="submit" value="<%= action %>" data-toggle-button-target="button" disabled class="disabled:opacity-50 px-3 py-2 bg-black rounded-lg text-white">
  </form>
</div>
