<%= form_for(resource,
            as: resource_name,
            url: registration_path(resource_name),
            html: { id:'form-new-user', class: css},
            data: { controller:'password', action: "submit->convertion-visitor#newUser", convertion_visitor_target: "formNewUser"}
            ) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
  <!--
  <div class="grid md:grid-cols-2 md:gap-6 mt-5">
    <div class="field relative z-0 w-full mb-5 group">
      <%= f.text_field :first_name, value: donator&.first_name, class: "block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500", placeholder: ' ' %>
      <%= f.label :first_name, class: "after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-base text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="field relative z-0 w-full mb-5 group">
      <%= f.text_field :last_name, value: donator&.last_name, class: "block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500", placeholder: ' ' %>
      <%= f.label :last_name, class: "after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-base text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>
  </div>
  -->

  <div class="field relative z-0 w-full mb-5 group">
    <%= f.email_field :email, value: donator&.email, class: "block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500", placeholder:" "%>
    <%= f.label :email, class: "after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-base text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
  </div>

  <div class="field relative z-0 w-full mb-5 group">
    <div class="flex items-center">
      <%= f.password_field :password, autocomplete: "new-password", minlength: @minimum_password_length ? @minimum_password_length : false, data: {password_target: 'passwordInput'}, class: "relative block grow peer block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black invalid:text-red-600 invalid:border-red-500 invalid:focus:border-red-500", placeholder: ' ' %>
      <span class="shrink-0 absolute right-3">
        <!--
        <%= svg_tag('eye', class:"size-6") %>
        -->
        <%= icon('fa-solid', 'eye-slash', data: {action: 'click->password#togglePassword', password_target: 'eyeIcon'}) %>
      </span>
    </div>
    <%= f.label :password, class: "after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-base text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    <% if @minimum_password_length %>
      <p class="block italic font-light text-xs">Minimum <%= @minimum_password_length %> caractères</p>
    <% end %>
  </div>

  <div class="hidden field relative z-0 w-full mb-5 group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", data: {password_target: 'passwordConfirmInput'}, class:"block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-600 invalid:border-red-500 invalid:focus:border-red-500", placeholder: ' ' %>
    <%= f.label :password_confirmation, class: "after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-base text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
  </div>
    <!--
    User::ROLES.map { |role| [role.humanize, role] }
    -->
  <% if role.present? %>
    <div class="field w-full mb-5 group">
      <%= f.hidden_field :role, value: role %>
    </div>
  <% else %>
    <div class="field w-full mb-5 group">
      <%= f.label :role, class: "after:content-['*'] after:ml-0.5 after:text-red-500 text-base" %>
      <%= f.select :role, [["Je suis un donateur", "donator"], ["Je suis une association", "asso"]], { prompt: true }, class:'bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
    </div>
  <% end %>

  <div class="actions w-full mt-10">
    <%= f.submit I18n.t('wording.sign_up'), data: { action: 'click->password#confirm' }, class:"text-white tracking-wider bg-black hover:bg-black focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-base w-full px-5 py-2.5 text-center" %>
  </div>

<% end %>
