<div data-volunteering-target="modal" class="fixed z-50 inset-x-0 -bottom-1/2 h-1/2 p-8 rounded-t-3xl flex flex-col justify-between bg-white transition transform delay-0 duration-700 ease-in-out ">
  <%# close modal %>
  <button class="inline size-fit" data-action="click->volunteering#toggleModal">
    <%= svg_tag('cross_icon', class: 'size-4') %>
  </button>

  <div class="h-5/6 flex flex-col justify-between pb-4">
    <div class="">
      <h2 class="text-base/7 font-medium text-gray-900">
        Votre bénévolat à
        <span class="ml-1 before:block before:absolute before:-inset-1 before:-skew-y-1 before:bg-pink-500 relative inline-block">
          <span data-volunteering-target="title" class="relative text-white text-lg capitalize font-semibold "></span>
        </span>
      </h2>
      <!--
      <p class="mt-4 text-sm/6 text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat iure deserunt animi dolorem veniam praesentium mollitia, accusamus nihil dolorum saepe cupiditate dolor.</p>
      -->
    </div>

    <div class="flex flex-col gap-y-6">
      <%# pause/activate btn %>
      <%= link_to "#", data: { volunteering_target:"pauseBtn", action:"click->volunteering#pause", turbo_method: :post } do %>
        <div class="flex flex-row justify-center items-center gap-x-4 bg-indigo-500 text-white rounded-lg px-4 py-2 w-full">
          <p data-volunteering-target="pauseText" class="text-lg"><%= I18n.t('volunteering.pause') %></p>
        </div>
      <% end %>

      <%# delete/cancel btn %>
      <%= link_to "#", data: { volunteering_target:"deleteBtn", turbo_method: :delete } do %>
        <div class="flex flex-row justify-center items-center gap-x-4 bg-red-500 text-white rounded-lg px-4 py-2 w-full">
          <p data-volunteering-target="deleteText" class="text-lg"><%= I18n.t('volunteering.delete') %></p>
        </div>
      <% end %>
    </div>
  </div>

</div>
