<% donations.first(size).each do |don|%>
  <% if current_user.donator? %>
    <%= link_to place_path(don.place) do %>
      <div class="bg-white flex flex-row justify-start items-center px-1 py-2 gap-2  w-full">

        <div class="bg-white">
          <%= don.place.place_image.attached? ? cl_image_tag(don.place.place_image.key, class:'size-14 rounded-full') : image_tag("default_avatar.png", class:'size-14 rounded-full')  %>
        </div>

        <div class="bg-white flex flex-col justify-evenly roboto-medium text-sm">
          <p><%= don.place.name %></p>
          <p><%= number_to_currency(don.amount.to_f / 100, locale: :fr, strip_insignificant_zeros: true) %></p>
          <p class="roboto-regular text-sm">Le <%= don.occured_on.strftime("%d/%m/%Y") %></p>
        </div>

      </div>
    <% end %>
  <% else %>

    <div class="bg-white flex flex-row justify-start items-center px-1 py-2 gap-2  w-full">
      <div class="bg-white">

        <% if don.donator.profile_image.attached? %>
          <%= cl_image_tag(don.donator.profile_image.key, class:"rounded-full size-14") %>
        <% elsif don.donator.first_name && don.donator.last_name %>
          <div class="size-14 flex justify-center items-center bg-black rounded-full text-xl font-medium text-white">
            <%= don.donator.first_name[0].capitalize %><%= don.donator.last_name[0].capitalize %>
          </div>
        <% else %>
            <div class="size-14 flex justify-center items-center bg-black rounded-full text-xl font-medium text-white">
              <%= don.donator.email[0].capitalize %><%= don.donator.email[1].capitalize %>
            </div>
        <% end %>

      </div>

      <div class="bg-white flex flex-col justify-evenly roboto-medium text-sm">
        <% if don.donator.first_name && don.donator.last_name %>
          <p><%= don.donator.first_name.capitalize %> <%= don.donator.last_name.capitalize %></p>
        <% else %>
          <p><%= don.donator.email %></p>
        <% end %>
        <p><%= number_to_currency(don.amount_net.to_f / 100, locale: :fr, strip_insignificant_zeros: true) %></p>
        <p class="roboto-regular text-sm">Le <%= don.occured_on.strftime("%d/%m/%Y") %></p>
      </div>
    </div>

  <% end %>
<% end %>
