<% donations.first(size).each do |don|%>
  <div class="bg-white flex flex-row justify-start items-center px-1 py-2 gap-2  w-full">
    <div class="bg-white">
      <% if don.place.place_image.attached? %>
        <%= image_tag(don.place.place_image, class:'size-14 rounded-full') %>
      <% else %>
        <%= image_tag("default_avatar.png", class:"size-14 rounded-full") %>
      <% end %>
    </div>

    <div class="bg-white flex flex-col justify-evenly roboto-medium text-sm">
      <p><%= don.place.name %></p>
      <p><%= don.amount_net / 100.00 %> €</p>
      <p class="roboto-regular text-sm">Le <%= don.occured_on.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
<% end %>
<!-- TODO: case when donator check donations & asso check donations -->
