<h2>add a new place to your account</h2>
<%= form_with(model: place, url: "/assos/places" )  do |f| %>
  <div class="flex flex-col gap-y-5">

    <div class="flex flex-col gap-y-2">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="flex flex-col gap-y-2">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="flex flex-col gap-y-2">
      <%= f.label :street_no %>
      <%= f.text_field :street_no %>
    </div>

    <div class="flex flex-col gap-y-2">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="flex flex-col gap-y-2">
      <%= f.label :country %>
      <%= f.text_field :country %>
    </div>

    <div class="flex flex-col gap-y-2">
      <%= f.label :place_type_id, value: "select the type of place" %>
      <div class="overflow-x-auto">
        <%= f.collection_select :place_type_id, PlaceType.all, :id, :name, prompt: true %>
      </div>
    </div>

    <div class="flex flex-col gap-y-2">
      <%= f.label :place_image, value: "Ajouter une photo de votre lieu de culte" %>
      <%= f.file_field :place_image %>
    </div>

    <div class="mt-4 px-1 py-3 bg-black w-full text-white text-center text-lg tracking-widest rounded-lg">
      <%= f.submit "ajouter" %>
    </div>

  </div>
<% end %>
