<h2>add a new place to your account</h2>
<%= form_with(model: place, url: "/assos/places" )  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :street_no %>
  <%= f.text_field :street_no %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :place_type_id, value: "select the type of place" %>
  <%= f.collection_select :place_type_id, PlaceType.all, :id, :name, prompt: true %>

  <%= f.label :place_image, value: "Ajouter une photo de votre lieu de culte" %>
  <%= f.file_field :place_image %>

<%= f.submit "ajouter" %>
<% end %>
