<div>
  <p><strong>name:</strong> <%= @place.name %></p> <br>

  <p><strong>address:</strong> <%= @place.address %></p> <br>
  <p><strong>street_no:</strong> <%= @place.street_no %></p> <br>
  <p><strong>city:</strong> <%= @place.city %></p><br>
  <p><strong>country:</strong> <%= @place.country %></p><br>

  <p><strong>asso name:</strong> <%= @place.asso.name %></p>
  <p><strong>asso NRA:</strong> <%= @place.asso.code_nra %></p>
  <p><strong>asso created by user:</strong> <%= @place.asso.user.email %></p>

  <p><strong>place type:</strong> <%= @place.place_type.name %></p>
  <div>
  <p><strong>votre photo de couverture</strong></p>
    <% if @place.place_image.attached? %>
      <%= image_tag @place.place_image %>
    <% else %>
      <%= image_tag("default_avatar.png", class:"size-12") %>
    <% end %>
  </div>
  <!-- display qr code if logic is png w/ method "attach_qr_code_png"
    <p><strong>place Qrcode:</strong> pe image_tag @place.qr_image pe</p>
  -->

  <!-- display qr code if logic is svg w/out attach to model instance
    <p><strong>place Qrcode:</strong> pe @qr_code_svg.html_safe pe </p>
  -->

  <!-- display qr code if logic is svg w/ method "attach_qr_code_svg" -->
  <div>
    <p><strong>place Qrcode:</strong></p>
    <div class="size-fit scale-50">
      <%= render partial: "qr_code", locals: { place: @place} %>
    </div>
  </div>
</div>
