<%# typewriter %>
<!--
<div class="px-5">
  <div data-controller="typewriter">
    <span data-typewriter-target="text" class="inline-block">landing page here</span>

    <span class="inline-block align-middle text-center bg-green-300 rounded-full p-2"  data-typewriter-target="logo" >
      <%= svg_tag('g', class:"text-black size-6") %>
    </span>
  </div>
</div>
-->

<%# header %>
<div class="fixed top-0 inset-x-0 bg-white py-2.5">
  <h1 class="text-2xl font-medium roboto-medium-italic tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-orange-400 from-35% via-orange-500 to-55% to-orange-600 text-center ">G o o d i f y</h1>
</div>

<div class="mt-16 mb-52 flex flex-col items-center gap-y-14">
  <%# why Goodify %>
  <div class="flex flex-col items-center space-y-5">
    <h1 class="text-3xl tracking-wider text-center font-bold">Collectez des dons sans aucun effort</h1>
    <div class="flex flex-col items-center p-2 rounded-lg gap-y-4 w-11/12">
      <p class="flex text-start medium text-base text-wrap">Un service complet pour récompenser la générosité de vos donateurs:</p>

      <ul class="flex flex-col items-start gap-y-2 text-sm medium text-neutral-600">
        <li class="inline-flex gap-x-4 items-start" >
          <span>
            <%= svg_tag('check', class:"size-4 stroke-2 text-orange-400") %>
          </span>
          <div>
            <p class="tracking-wide font-medium">Don en 4 clics depuis son smartphone 24h/7j</p>
            <p class="text-xs italic text-start text-neutral-500">Plus besoin de terminal de paiment</p>
          </div>
        </li>

        <li class="inline-flex gap-x-4 items-start" >
          <span>
            <%= svg_tag('check', class:"size-4 stroke-2 text-orange-400") %>
          </span>
          <div>
            <p class="tracking-wide font-medium">Le cerfa N°11580 est généré automatiquement </p>
            <p class="text-xs italic text-start text-neutral-500">Finis les cerfa à completer manuellement pour chaque don </p>
          </div>
        </li>

        <li class="inline-flex gap-x-4 items-start" >
          <span>
            <%= svg_tag('check', class:"size-4 stroke-2 text-orange-400") %>
          </span>
          <div>
            <p class="tracking-wide font-medium">Suivez votre collecte en temps réelle </p>
            <p class="text-xs italic text-start text-neutral-500">Solde mis à jour sans délais, visualisez votre collecte au jour, à la semaine, au mois etc...</p>
          </div>
        </li>

        <li class="inline-flex gap-x-4 items-start" >
          <span>
            <%= svg_tag('check', class:"size-4 stroke-2 text-orange-400") %>
          </span>
          <div>
            <p class="tracking-wide font-medium">Analyser votre trafic</p>
            <p class="text-xs italic text-start text-neutral-500 ">Découvrez votre meilleur jour, les montants fréquents, vos meilleurs donateurs et plus encore</p>
          </div>
        </li>

      </ul>

      <%= link_to 'Essayer gratuitement', new_user_registration_path, class:'w-full py-2 rounded-lg text-center text-base tracking-wide bg-orange-400 text-white shadow-lg active:shadow-inner' %>

    </div>
  </div>

  <%# demo %>
  <div data-controller="landing" data-landing-switch-class="bg-orange-400 text-white scale-105 font-medium" class="flex flex-col justify-start items-center p-2 rounded-lg gap-y-4 w-11/12">
    <div class="flex flex-row bg-white text-black">
      <button data-action="click->landing#display" data-landing-name-param="asso" data-landing-target="btnAsso" class="px-4 py-2 rounded-l-md tracking-wide transition-all duration-500 ease-in-out bg-orange-400 text-white scale-105 font-medium ">Goodify pour votre association</button>
      <button data-action="click->landing#display" data-landing-name-param="donator" data-landing-target="btnDonator" class="px-4 py-2 rounded-r-md tracking-wide transition-all duration-500 ease-in-out ">Goodify pour vos donateurs</button>
    </div>

    <%# les associations %>
    <div data-landing-target="demoAsso" class="mt-5 flex flex-row items-center w-full overflow-x-auto whitespace-nowrap scroll-smooth">
      <%# feature_1 %>
      <div class="bg-yellow-100 inline-block w-[80%] h-fit rounded-md m-2 shadow-md">
        <%# screen_1 %>
        <div class="scale-75">
          <div class="relative mx-auto border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[400px] w-[200px] shadow-xl">
            <div class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
            <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[83px] rounded-s-lg"></div>
            <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[137px] rounded-s-lg"></div>
            <div class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[95px] rounded-e-lg"></div>
            <div class="rounded-[2rem] overflow-hidden w-[172px] h-[372px] bg-white">
              <%#= image_tag('screen_asso.png', class:"mt-2 w-[172px] h-[362px]") %>
            </div>
          </div>
        </div>
        <%# benefice_1 %>
        <div class="space-y-2 px-4 break-all">
          <h2 class="text-2xl text-center font-medium mb-4">Augmentez votre collecte de +30% en moyenne</h2>
          <div class="text-gray-600 text-lg text-center space-y-2">
            <p>Fini le besoin d'acheter ou de louer de plus en plus de terminal de paiement et trouver des bénévoles pour les équiper afin d'augmenter votre collecte.</p>
            <p>Optez pour l'efficacité, chaque donateur peut utiliser son smartphone comme un moyen de paiement. En 3 cliques, votre donateur effectue son don quand il le souhaite et depuis n'importe où dans le monde.</p>
          </div>
        </div>
      </div>

      <%# feature_2 %>
      <div class="bg-purple-100 inline-block w-[80%] h-fit rounded-md m-2 shadow-md">
        <%# screen_1 %>
        <div class="scale-75">
          <div class="relative mx-auto border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[400px] w-[200px] shadow-xl">
            <div class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
            <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[83px] rounded-s-lg"></div>
            <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[137px] rounded-s-lg"></div>
            <div class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[95px] rounded-e-lg"></div>
            <div class="rounded-[2rem] overflow-hidden w-[172px] h-[372px] bg-white">
              <%#= image_tag('screen_asso.png', class:"mt-2 w-[172px] h-[362px]") %>
            </div>
          </div>
        </div>
        <%# benefice_1 %>
        <div class="space-y-2 px-4">
          <h2 class="text-2xl text-center font-medium mb-4">Ne stresser plus à faire les comptes</h2>
          <div class="text-gray-600 text-lg text-center space-y-2">
            <p>Fini le temps perdu à courir dernière chaque bénévole/TPE pour récupérer les tickets de paiment et faire les comptes. Ne faites plus d'erreurs de comptage grâce à l'automatisation.</p>
            <p>Visualiser en temps réel la somme de vos dons collectés. La somme est automatiquement transférée sur votre compte bancaire à la fin de chaque journée.</p>
          </div>
        </div>
      </div>

      <%# feature_3 %>
      <div class="bg-pink-100 inline-block w-[80%] h-fit rounded-md m-2 shadow-md">
        <%# screen_1 %>
        <div class="scale-75">
          <div class="relative mx-auto border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[400px] w-[200px] shadow-xl">
            <div class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
            <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[83px] rounded-s-lg"></div>
            <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[137px] rounded-s-lg"></div>
            <div class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[95px] rounded-e-lg"></div>
            <div class="rounded-[2rem] overflow-hidden w-[172px] h-[372px] bg-white">
              <%#= image_tag('screen_asso.png', class:"mt-2 w-[172px] h-[362px]") %>
            </div>
          </div>
        </div>
        <%# benefice_1 %>
        <div class="space-y-2 px-4">
          <h2 class="text-2xl text-center font-medium mb-4">Ne vous limitez pas à la surface, gagner une meilleur compréhension de votre impact</h2>
          <div class="text-gray-600 text-lg text-center space-y-2">
            <p>Mesurez votre performance à l'aide de graphiques clairs. Identifier vos périodes de hausse et de baisse afin d'avoir une meilleur compréhension de votre activité et prendre de meilleurs décision.</p>
            <p>Découvrez qui sont vos donateurs et entretenez une relation privilégiée avec vos plus importants contributeurs.</p>
            <p>Restez connecté avec vos donateurs et leurs attentes.</p>
          </div>
        </div>
      </div>

    </div>

    <%# les donateurs %>
    <div data-landing-target="demoDonator" class="hidden mt-10">
      <div class="relative mx-auto border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[400px] w-[200px] shadow-xl">
        <div class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
        <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[83px] rounded-s-lg"></div>
        <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[137px] rounded-s-lg"></div>
        <div class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[95px] rounded-e-lg"></div>
        <div class="rounded-[2rem] overflow-hidden w-[172px] h-[372px] bg-white">
          <iframe
            id="frame"
            src="https://player.cloudinary.com/embed/?public_id=samples%2Fdemo-donateur_gluazs&cloud_name=dnnoyjw9r&player[posterOptions][transformation][start_offset]=0&player[autoplay]=true&player[muted]=true&player[loop]=true&player[controls]=false&player[hideContextMenu]=true&player[showLogo]=false&player[fluid]=false&player[width]=172&player[height]=372"
            width="172"
            height="372"
            allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
            false
            allowfullscreen
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>

  </div>

</div>



<%# sticky call to action %>

<div class="hidden fixed bottom-0 inset-x-0 w-full px-5 py-10 rounded-t-3xl flex flex-col items-center justify-center space-y-5 bg-black">
  <!--
  later to remove link_to and add JS to open pop-up form
  -->

  <% if user_signed_in? %>
    <%= link_to dashboard(current_user), class:'w-full py-2 rounded-lg flex justify-center items-center space-x-4 text-lg tracking-wide bg-white text-black' do %>
      <%= icon('fa-solid', 'circle-user') %>
      <p>Home</p>
    <% end %>

    <%= link_to destroy_user_session_path, data: { "turbo-method": :delete, "turbo-confirm": "are you sure ?"}, class:'w-full py-2 rounded-lg flex justify-center items-center space-x-4 text-lg tracking-wide border-2 border-white bg-black text-white' do %>
      <%= icon('fa-solid', 'arrow-right-from-bracket') %>
      <p>Se déconnecter</p>
    <% end %>

  <% else %>
    <%= link_to new_user_registration_path, class:'w-full py-2 rounded-lg flex justify-center items-center space-x-4 text-lg tracking-wide bg-white text-black' do %>
      <%= icon('fa-solid', 'envelope') %>
      <p>S'enregistrer avec un email</p>
    <% end %>

    <%= link_to new_user_session_path, class:'w-full py-2 rounded-lg flex justify-center items-center space-x-4 text-lg tracking-wide border-2 border-white bg-black text-white' do %>
      <%= icon('fa-solid', 'user') %>
      <p>Se connecter</p>
    <% end %>
  <% end %>

</div>
