  <%# scroll page %>
<div class="pb-36 flex flex-col gap-y-10">

  <%# icon check %>
  <div class="rounded-lg flex flex-col py-4 items-center justify-center bg-black">
    <div>
      <%= svg_tag('check_circle', class:'size-20 text-white') %>
    </div>

    <%# message goodify (How does it feel to have accomplish a good deed today ? Good right !) %>
  </div>

  <%# card place %>
  <div class="rounded-lg w-full shadow-[0_0_12px_1px_rgba(0,0,0,0.1)]">
    <%# image %>
    <% if place.place_image.attached? %>
      <div class=" flex justify-center items-center h-28 w-full">
          <%= cl_image_tag(place.place_image.key, crop: 'fill', class:'h-28 w-full rounded-t-lg') %>
      </div>
    <% else %>
      <div class="flex justify-center items-center h-28 w-full rounded-t-lg bg-gray-300">
        <%= svg_tag('image_empty', class:'size-20 bg-inherit text-gray-200') %>
      </div>
    <% end %>

    <%# quick recap %>
    <div data-controller="dropdown" class="relative rounded-b-lg text-sm flex flex-col gap-y-1 bg-white p-2">
      <%# amount %>
      <div class="flex flex-row gap-4 items-baseline" >
        <%= icon('fa-solid', 'hand-holding-heart') %>
        <%= number_to_currency(amount.fdiv(100), unit: '€', format: '%n %u', delimiter: ' ') %>
        <% if donation.mode == "virement, prélèvement, carte bancaire" %>
          <button data-action=dropdown#toggle>
            <%= icon('fa-solid', 'chevron-down') %>
          </button>
        <% end %>
      </div>

      <%# dropdown fees %>
      <% if donation.mode == "virement, prélèvement, carte bancaire" %>
        <div data-dropdown-target="fees" class="hidden">
          <div class="ml-8 mt-2 mb-4 w-3/4 flex flex-col justify-center content-between gap-y-2 text-xs roboto-light">
            <div class="flex items-center justify-between">
              <p>Frais de service Goodify</p>
              <%= number_to_currency(app_fee.to_f / 100, unit: '€', format: '%n %u', delimiter: ' ') %>
            </div>

            <div class="flex items-center justify-between">
              <p>Frais bancaire </p>
              <%= number_to_currency(stripe_fee.to_f / 100, unit: '€', format: '%n %u', delimiter: ' ') %>
            </div>

            <div class="flex items-center justify-between">
              <p>Frais total</p>
              <%= number_to_currency(total_fee.to_f / 100, unit: '€', format: '%n %u', delimiter: ' ') %>
            </div>

          </div>
        </div>
      <% end %>

      <%# place %>
      <div class="flex flex-row gap-4 items-baseline">
        <%= icon("fa-solid", "paper-plane") %>
        <%= place.name.titleize %>
      </div>

      <div class="flex flex-row gap-4 items-baseline">
        <%= icon("fa-solid", "location-dot") %>
        <%= place.street_no %> <%= place.address %>, <%= place.city %> <%= place.zip_code %>, <%= place.country %>
      </div>

      <div class="flex flex-row gap-4 items-baseline">
        <%= icon("fa-solid", "bullhorn") %>
        <p class="text-justify">
        Merci pour vote générosité. Grâce à vous, nous pouvons continuer à assurer notre mission. Au plaisir de vous revoir bientôt
        </p>
      </div>

      <%# ajouter en fav %>
      <% if donator.enrolled? %>
        <div class="absolute top-2 right-2">
          <%= render partial:"favorites/favorite_icon", locals: { donator: donator, place: place, favorite: favorite } %>
        </div>
      <% end %>

    </div>

  </div>

  <%# payment details w/ breakdown %>
  <div>
    <div class="mt-2 flex justify-center">
      <h1 class="text-lg font-medium text-center tracking-wider">Ce que votre don vous a vraiment coûté 👇</h1>
    </div>

    <div class=" mb-4 flex flex-col gap-y-3 text-center text-sm text-inherit opacity-80 roboto-light">
      <p>Votre don ouvre des droits à la réduction d'impôt.</p>
    </div>

    <div class="overflow-x-auto rounded-lg shadow-[0_0_12px_1px_rgba(0,0,0,0.1)]">
      <table class=" w-full text-sm text-center rtl:text-right text-black">
          <thead class="text-xs text-black uppercase bg-white border-b">
              <tr>
                  <th scope="col" class="w-1/3 px-2 py-2">
                      Montant
                  </th>
                  <th scope="col" class="w-1/3 px-2 py-2 ">
                      Réduction impôt éligible
                  </th>
                  <th scope="col" class="w-1/3 px-2 py-2">
                      Net
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr class="text-right text-gray-700 bg-white border-b">
                  <td scope="row" class="px-2 py-2 whitespace-nowrap">
                      <%= number_to_currency(amount.fdiv(100), unit: '€', format: '%n %u', delimiter: ' ') %>
                  </td>
                  <td class="px-2 py-2 ">
                      <%= number_to_currency(amount_detaxed.fdiv(100), unit: '€', format: '%n %u', delimiter: ' ') %>
                  </td>
                  <td class="px-2 py-2 font-medium text-base text-black">
                      <%= number_to_currency(amount_net.fdiv(100), unit: '€', format: '%n %u', delimiter: ' ') %>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>

  <%# CTA %>
  <% if donator.visitor?%>
    <div data-controller="convertion-visitor" data-convertion-visitor-user-email-value="<%= email %>">
      <div class="mt-2 flex justify-center">
        <h1 class="text-lg font-medium text-center tracking-wider">Ne perdez plus vos dons !</h1>
      </div>

      <div class="mb-2 flex flex-col gap-y-3 text-center text-sm text-inherit opacity-80 roboto-light">
        <p>Rejoignez <strong>Goodify</strong> et suivez toutes vos bonnes actions depuis votre tableau de bord.</p>
        <p>Profitez de la réduction d'impôt en un seul clic grâce au <strong>reçu fiscal</strong> à retrouver dans votre espace.</p>
        <p>Vivez une expérience nouvelle à travers vos bonnes actions avec Goodify.</p>
      </div>

      <%# form %>
      <div class="pt-2 w-full rounded-lg bg-white shadow-[0_0_12px_1px_rgba(0,0,0,0.1)]">
        <!--
        <form id="conversionForm" class="max-w-md mx-auto p-4" action="/users" method="POST" remote="true" data-convertion-visitor-target="form"
                                                                                                              data-action="submit->convertion-visitor#newUser">
          <div class="relative z-0 w-full mb-5 group">
              <input type="email" name="user[email]" id="floating_email" value="<%= email %>" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-500 invalid:focus:border-red-500 invalid:border-red-500" pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" placeholder=" " required />
              <label for="floating_email" class="after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Adresse mail</label>
          </div>
          <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
              <input type="text" name="user[first_name]" id="first_name" value="<%= first_name ? first_name.capitalize : '' %>" class="capitalize block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-600 invalid:focus:border-red-500 invalid:border-red-500" pattern="^[A-Za-z]+(\s?[A-Za-z]*)*$" placeholder=" " required />
                <label for="first_name" class="after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prénom</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="user[last_name]" id="last_name" value="<%= last_name ? last_name.capitalize : '' %>" class="capitalize block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-600 invalid:focus:border-red-500 invalid:border-red-500" pattern="^[A-Za-z]+(\s?[A-Za-z]*)*$" placeholder=" " required />
                <label for="last_name" class="after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
            </div>
          </div>
          <div class="relative z-0 w-full mb-5 group">
              <input type="password" name="user[password]" id="password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-600 invalid:border-red-500 invalid:focus:border-red-500" minlength="6" placeholder=" " required />
              <label for="password" class="after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de passe</label>
          </div>
          <div class="relative z-0 w-full mb-5 group">
              <input type="password" name="user[password_confirmation]" id="password_confirmation" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-black peer invalid:text-red-600 invalid:border-red-500 invalid:focus:border-red-500" minlength="6" placeholder=" " required />
              <label for="password_confirmation" class="after:content-['*'] after:ml-0.5 after:text-red-500 peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirmer mot de passe</label>
              <input type="hidden" name="user[current_password]" id="current_password" value="654321"/>
          </div>
          <button type="submit" class="text-white tracking-wider bg-black hover:bg-black focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">S'inscrire</button>
        </form>
        -->

        <!--
        -->
        <%= render partial: "devise/registrations/form_new_user", locals: { role: "donator", email:} %>

      </div>
    </div>
  <% end %>

  <%# feedback and contact %>
  <div class="flex flex-col items-center justify-center">

    <h1 class="mt-2 text-lg font-medium tracking-wider">Notez votre expérience</h1>

    <p class="mb-2 text-sm text-center text-inherit opacity-80 roboto-light">Votre avis contribuera à notre amélioration continue pour rendre votre expérience meilleure.</p>

    <% if donation.review %>
      <%= render partial: "reviews/thanks" %>
    <% else %>
      <div class="flex flex-col items-center gap-y-2" data-controller="star-rating">
        <div class="flex">
          <% 5.times do %>
            <button class="px-1" data-star-rating-target="star" data-action="click->star-rating#rate">
              <%= svg_tag("star", class: "size-9 text-gray-300") %>
            </button>
          <% end %>
        </div>

        <div class="text-sm text-center text-inherit opacity-80 roboto-light" data-star-rating-target="message"></div>

        <div class="flex gap-2 mt-2" >

          <button disabled class="flex-auto w-20 text-sm px-3 py-2 rounded-lg bg-black disabled:opacity-25" data-star-rating-target="commentBtnOpen" data-action="click->star-rating#openComment">
            <%= icon('fa-solid', 'comment', class:'fa-xl', style:'color: white;') %>
          </button>

          <form action="POST" url="/reviews" class="flex flex-col justify-center items-center gap-y-2"
                                              data-action="submit->star-rating#sendReview">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="review[donation_id]" value="<%= donation.id %>">
            <input type="hidden" name="review[rating]" data-star-rating-target="ratingForm">
            <textarea data-star-rating-target="commentForm" class="rounded-lg hidden" type="text" name="review[content]" cols="40" rows="3" name="review[content]"></textarea>

            <button disabled type="submit" class="flex-auto text-sm px-3 py-2 rounded-lg bg-black text-white tracking-wider w-20 disabled:opacity-25"
                                          data-star-rating-target="submitBtnOpen">
              Envoyer
            </button>
          </form>

        </div>

      </div>
    <% end %>

  </div>

</div>

<%# fixed links %>
<div class="fixed inset-x-0 bottom-0 px-5 py-5 bg-white shadow">
  <div data-controller="convertion-visitor" class="flex flex-col gap-4 justify-center items-center text-white text-center text-md tracking-wide">
    <% if donator.visitor? %>
      <%= link_to "Créer mon compte",  edit_user_registration_path(:user), id:"link", class: "flex-auto px-3 py-2 rounded-lg bg-black w-full ", data: {action:'convertion-visitor#scrollTo'} %>
    <% else %>
      <%= link_to "Home", donator_root_path(), id:"link", class: "flex-auto px-3 py-2 rounded-lg bg-black w-full " %>
    <% end %>

    <!--
    <div class="w-full" data-controller="clipboard" >
      <button class="relative flex justify-center items-center gap-4 px-3 py-2 rounded-lg text-black bg-gray-200 w-full" value="0786415817" data-action="clipboard#copy clipboard#displayCopy" data-clipboard-target="source">
        Nous contacter
        <span><%= svg_tag('headset') %></span>
        <div class="absolute right-4">
          <span data-clipboard-target="defaultIcon"> <%= svg_tag('clipboard', class:'size-3.5') %></span>
          <span data-clipboard-target="successIcon" class='hidden' > <%= svg_tag('check', class:'size-4 stroke-2 stroke-black') %></span>
        </div>
      </button>
    </div>
    -->

    <%= render partial: 'shared/support_link', locals: { bg: 'bg-gray-200' } %>

  </div>
</div>
