  <div class="text-center">
    <h2><%= number_to_currency(@donation.amount.fdiv(100), locale: :fr, strip_insignificant_zeros: true) %></h2>
    <p><%= @donation.mode %></p>
  </div>

  <%# edit form %>
  <form>
    <%# donator identity filled by visitor %>
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base/7 font-semibold text-gray-900">Identité du donateur</h2>

      <div class="mt-10 grid grid-cols-2 gap-x-6 gap-y-8 sm:grid-cols-6">

        <div class="col-span-2 sm:col-span-3">
          <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Prénom(s)</label>
          <div class="mt-2">
            <input type="text" name="user[first_name]" id="first-name" value="<%= @donator.present? ? @donator.first_name : '' %>" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="col-span-2 sm:col-span-3">
          <label for="last-name" class="block text-sm/6 font-medium text-gray-900">Nom</label>
          <div class="mt-2">
            <input type="text" name="user[last_name]" id="last-name" value="<%= @donator.present? ? @donator.last_name : '' %>" autocomplete="family-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="col-span-2 sm:col-span-4">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">E-mail</label>
          <div class="mt-2">
            <input id="email" name="email" type="user[email]" value="<%= @donator.present? ? @donator.email : '' %>" autocomplete="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="col-span-full">
          <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Adresse</label>
          <div class="mt-2">
            <input type="text" name="user[address]" id="street-address" value="<%= @donator.present? ? @donator.address : '' %>" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-2 sm:col-start-1">
          <label for="city" class="block text-sm/6 font-medium text-gray-900">Ville</label>
          <div class="mt-2">
            <input type="text" name="user[city]" id="city" value="<%= @donator.present? ? @donator.city : '' %>" autocomplete="address-level2" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <!--
        <div class="sm:col-span-2">
          <label for="region" class="block text-sm/6 font-medium text-gray-900">Commune</label>
          <div class="mt-2">
            <input type="text" name="user[region]" id="region" autocomplete="address-level1" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
        -->

        <div class="sm:col-span-2">
          <label for="postal-code" class="block text-sm/6 font-medium text-gray-900">Code postal</label>
          <div class="mt-2">
            <input type="text" name="user[zip_code]" id="postal-code" value="<%= @donator.present? ? @donator.zip_code : '' %>" autocomplete="postal-code" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="col-span-2 sm:col-span-3">
          <label for="country" class="block text-sm/6 font-medium text-gray-900">Pays</label>
          <div class="mt-2 grid grid-cols-1">
            <select id="country" name="user[country]" autocomplete="country-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
              <option>France</option>
            </select>
          </div>
        </div>


      </div>
    </div>

    <div class="mt-6 w-full">
      <input type="hidden" name="token" value="<%= @token %>">
      <button type="submit" class="w-full rounded-md bg-indigo-600 px-3 py-2 text-base tracking-wider antialiased font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Générer mon reçu fiscal</button>
    </div>

  </form>
