<!-- TODO: review the design maybe use a table element. see if can DRY with a partial withing a table (a pdf btn is needed)-->
<div class="mb-7 inline-block">
  <%= link_to dashboard(current_user), class:"mb-7" do %>
    <%= svg_tag('chevron_left', class:'size-6 stroke-2') %>
  <% end %>
</div>

<div class="bg-white flex flex-col min-h-24 gap-2 divide-y divide-black/30 rounded-lg p-2 overflow-y-auto shadow-[0_0_12px_1px_rgba(0,0,0,0.1)] shadow-black/10">
  <% if @donations.empty? %>
    <p>Vous n'avez pas encore reçu de dons.</p>
  <% end %>

  <% @donations.each do |don| %>
    <% if current_user.donator? %>

      <div class="bg-white flex flex-row px-2 pt-2 items-center gap-x-5">

        <%= link_to place_path(don.place), class:'flex flex-row items-center gap-4 w-3/4' do %>
          <div class="bg-white">
            <%= don.place.place_image.attached? ? cl_image_tag(don.place.place_image.key, class:'size-14 rounded-full') : image_tag("default_avatar.png", class:'size-14 rounded-full') %>
          </div>

          <div class="bg-white flex flex-col justify-evenly roboto-medium text-sm">
              <p><%= don.place.name %></p>
              <p><%= number_to_currency(don.amount.to_f / 100, locale: :fr, strip_insignificant_zeros: true) %></p>
              <p class="roboto-regular text-sm">Le <%= don.occured_on.strftime("%d/%m/%Y") %></p>
          </div>
        <% end %>

        <div data-controller="pdf-generate" data-pdf-generate-don-id-value="<%= don.id %>" data-pdf-generate-donator-id-value="<%= @donator.id %>" class="flex-none">

          <button
                id="<%= don.id %>"
                class="button bg-neutral-100 text-black text-center min-w-28 min-h-8 rounded-lg"
                data-pdf-generate-target="btn"
                data-action="click->pdf-generate#isComplete"
                data-pdf-generate-payload-param='{"url": "<%= download_donator_donation_path(@donator, don, request.params.merge(format: :pdf)) %>", "filename": "cerfa_11580_05_000<%= @donator.id %>000<%= don.id %>.pdf", "completed": "<%= @donator.completed %>" }'>

            <p>Reçu Fiscal</p>
            <span id="spinner-<%= don.id %>" class="hidden items-center justify-center min-w-28 min-h-8 rounded-lg bg-black">
              <%= icon("fa-solid", "circle-notch", class: "animate-spin", style:"color: white") %>
            </span>

          </button>
          <!--
          <button data-action="click->pdf-generate#generate" data-pdf-generate-target="btn" class="bg-neutral-100 text-black text-center min-w-28 min-h-8 rounded-lg ">
            <p>Reçu Fiscal</p>
            <span class="hidden items-center justify-center min-w-28 min-h-8 rounded-lg bg-black spinner-<%= don.id %>">
              <%= icon("fa-solid", "circle-notch", class: "animate-spin", style:"color: white") %>
            </span>
          </button>
          -->

          <%# pop-up if profile not complete %>
          <div data-pdf-generate-target="modal" class="fixed inset-x-0 -bottom-3/4 h-3/4 p-8 rounded-t-3xl flex flex-col gap-y-8 bg-white transition transform delay-0 duration-700 ease-in-out ">
            <div class="">
              <h2 class="text-base/7 font-semibold text-gray-900">Mon identité</h2>
              <p class="mt-1 text-sm/6 text-gray-600">Le reçu fiscal est un document officiel et personnel. Nous avons besoin de vos informations pour vous délivrer un reçu fiscal attitré et unique.</p>
              <p class="mt-1 text-sm/6 text-gray-600">Vos informations ne seront pas jamais utilisé à d'autres buts.</p>
            </div>

            <div class="mb-5" >
              <%= form_with model: @donator, data: { action:'submit->pdf-generate#collectInfo', pdf_generate_target:'form', pdf_generate_url_param: "#{donator_path(@donator)}" } do |f| %>

                <%= render partial: 'donators/address_fields', locals: {f: } %>

                <fieldset>
                  <div class="flex gap-3">
                    <div class="flex h-6 shrink-0 items-center">
                      <div class="group grid size-4 grid-cols-1">
                        <input id="remember" aria-describedby="save-later" name="remember" type="checkbox" class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto">
                        <svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
                          <path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                          <path class="opacity-0 group-has-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                      </div>
                    </div>
                    <div class="text-sm/6">
                      <label for="remember" class="font-medium text-gray-900">Ne plus me redemander</label>
                      <p id="save-later" class="text-gray-500">Sauvegarder les informations pour ne pas vous les demander la prochaine fois.</p>
                    </div>
                  </div>
                </fieldset>

                <%= f.submit 'Générer', disabled: true, data: { pdf_generate_target: 'submitBtn' } , class:"disabled:bg-indigo-300 mt-8 w-full rounded-md bg-indigo-600 px-3 py-2 text-base tracking-wider antialiased font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>

              <% end %>
            </div>
          </div>

        </div>

      </div>

    <% else %>
      <div class="bg-white flex flex-row px-2 pt-2 items-center">

        <div class="flex flex-row items-center gap-4 w-full">
          <div class="bg-white">

            <% if don.donator.profile_image.attached? %>
              <%= cl_image_tag(don.donator.profile_image.key, class:"rounded-full size-14") %>
            <% else %>
              <div class="size-14 flex justify-center items-center bg-black rounded-full text-xl font-medium text-white">
                <%= don.donator.first_name[0].capitalize %><%= don.donator.last_name[0].capitalize %>
              </div>
            <% end %>

          </div>

          <div class="bg-white flex flex-col justify-evenly roboto-medium text-sm">
            <p><%= don.donator.first_name %> <%= don.donator.last_name %></p>
            <p><%= number_to_currency(don.amount_net.to_f / 100, locale: :fr, strip_insignificant_zeros: true) %></p>
            <p class="roboto-regular text-sm">Le <%= don.occured_on.strftime("%d/%m/%Y") %></p>
          </div>
        </div>

      </div>
    <% end %>

  <% end %>
</div>
