<div data-controller="donation" class="flex flex-col h-screen items-center justify-start gap-y-5">

  <div class="flex flex-row gap-3 justify-center items-baseline">
    <%= icon("fa-solid", "gift", class:"fa-xl")%>
    <p class="roboto-medium">Sélectionner votre donation</p>
  </div>

  <div class="flex flex-col items-center justify-center gap-y-10">

    <div class="flex flex-row justify-center items-center gap-x-2" >
      <% @amount_option.each_with_index do |amount, i| %>
        <button data-action="click->donation#showConfirm" class="px-3 py-3 border-black border rounded-lg bg-white text-2xl roboto-medium active:bg-black active:text-white" id="<%= i %>" data-donation-target="btn" name="don" value="<%= amount %>"><%= amount %> €</button>
      <% end %>
    </div>

    <%= form_with model: [@place, @donation], id:"formDon", data: { action:"submit->donation#donate" } do |f|%>
      <div class="flex flex-col gap-y-5 justify-center items-center">
        <div class="w-full">
          <%= f.number_field :amount, placeholder:"Autre montant",
                                      class:"rounded-full w-full",
                                      data: { donation_target:"inputfield" } %>
        </div>

        <div class="px-3 py-2 bg-black w-full text-white text-center text-lg tracking-widest rounded-lg">
          <%= f.submit 'Donner' %>
        </div>
      </div>
    <% end %>

  </div>

  <div>
    <%= render partial: "confirmbox", locals: { place: @place } %>
  </div>
</div>
