<div class="h-dvh">
    <div class="sticky z-50 top-0 inset-x-0 bg-white flex justify-around items-center py-4">
      <!--
        <%= link_to 'download', download_donator_donation_path(@donator, @donation, request.params.merge(format: :pdf)), download: true, data: {turbo: :false}, class:"border border-black rounded-lg px-3 py-1.5" %>
        <%= button_to "Download PDF", download_donator_donation_path(@donator, @donation, request.params.merge(format: :pdf)), data: {turbo: :false} %>
        <a href="<%= @pdf_inline %>" download class="bg-green-500 text-white px-4 py-2 rounded">
        Download PDF
        </a>
      -->

      <button data-controller="pdf-download"
        data-action="click->pdf-download#download"
        data-pdf-download-url="<%= download_donator_donation_path(@donator, @donation, request.params.merge(format: :pdf)) %>"
        data-pdf-download-filename="cerfa.pdf">
        Download PDF
      </button>
    </div>

  <iframe src="<%= @pdf_inline %>" class="w-full h-4/5"></iframe>
</div>
