<div class="mb-7">
  <%= link_to asso_root_path do %>
    <%= svg_tag('chevron-left', class:'size-6 stroke-2') %>
  <% end %>
</div>

<div class="bg-white flex flex-col min-h-24  divide-y divide-neutral-100 divide-black/30 rounded-lg overflow-y-auto shadow-[0_0_12px_1px_rgba(0,0,0,0.1)] shadow-black/10">

  <% @top_donators_sorted.each_with_index do |array, index| %>
    <div class="bg-white flex flex-row items-center justify-between py-4 pl-2">

      <div class="flex flex-row items-center gap-2 grow ">
        <div class="bg-white">

          <% if array[0].profile_image.attached? %>
            <%= cl_image_tag(array[0].profile_image.key, class:"rounded-full size-14") %>
          <% else %>
            <div class="size-14 flex justify-center items-center bg-black rounded-full text-xl font-medium text-white">
              <%= array[0].first_name[0].capitalize %><%= array[0].last_name[0].capitalize %>
            </div>
          <% end %>

        </div>

        <div class="bg-white flex flex-col justify-evenly text-sm gap-y-2 w-3/4 text-nowrap">
          <p><%= array[0].first_name.capitalize %> <%= array[0].last_name.capitalize %></p>
          <p class="text-lg"> <span class="mr-4 font-normal text-sm">Total reçu:</span> <%= number_to_currency(array[1].to_f / 100, locale: :fr, strip_insignificant_zeros: true) %></p>
        </div>
      </div>

      <div class="relative">
        <%= svg_tag('star', class: 'size-12 text-black') %>
        <span class="absolute inset-0  text-white font-bold flex justify-center items-center">
          <%= index + 1 %>
        </span>
      </div>

    </div>
  <% end %>

</div>
