<nav data-controller="navbar" id="menu" data-navbar-target="menu" class="flex flex-col items-center fixed z-50 inset-y-0 -right-64 h-screen w-64 gap-y-12 py-20 px-10 bg-white transition transform delay-0 duration-500 ease-in-out">
  <!--indicateurs - start -->
  <div class="flex flex-row gap-x-6">
    <!--indicateur box 1 -->
    <div class="flex flex-col justify-center items-center">
      <%= icon("fa-solid", "gift") %>
      <p><%= donations.count if asso && place %> dons </p>
    </div>
    <!--indicateur box 2 -->
    <div class="flex flex-col justify-center items-center">
      <%= icon("fa-solid", "users") %>
      <p><%= top_donators.count if asso && place %> donateurs</p>
    </div>

  </div>
  <!--indicateurs - end -->

  <!--menu items - start -->
<% if asso %>
  <div>
    <ul class="flex flex-col justify-center items-start gap-y-12">

      <li>
        <%= link_to asso_donations_path(asso) do %>
          <div class="flex flex-row justify-center items-baseline gap-x-2">
            <%= icon("fa-solid", "gift") %>
            <p>Mes donations</p>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to assos_donators_path() do %>
          <div class="flex flex-row justify-center items-baseline gap-x-2">
            <%= icon("fa-solid", "users") %>
            <p>Mes donateurs</p>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to "#" do %>
          <div class="flex flex-row justify-center items-baseline gap-x-2" data-controller="qrcode-modal" data-action="click->qrcode-modal#toggle">
            <%= icon("fa-solid", "qrcode") %>
            <p>Mon QR code</p>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to assos_account_path do %>
          <div class="flex flex-row justify-center items-baseline gap-x-2">
            <%= icon("fa-solid", "gear") %>
            <p>Mon compte</p>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to "#" do %>
          <%= render partial: "assos/signatures/signature", locals: { asso: asso } %>
        <% end %>
      </li>

    </ul>
  </div>
<% end %>
  <!--menu items - end -->
</nav>

<%# qrcode (sits at -bottom-full) %>
<%= render partial:'places/qrcode', locals: { place: place } if place %>
