<div class="flex flex-col">
  <!--indicateurs - start -->
  <div class="flex flex-row">
    <div class="flex flex-col">
      <%= icon("fa-solid", "gift") %>
      <p>55 dons</p>
    </div>
    <div class="flex flex-col">
      <%= icon("fa-solid", "users") %>
      <p>20 donateurs</p>
    </div>
  </div>
  <!--indicateurs - end -->

  <!--menu items - start -->
  <div>
    <ul class="flex flex-col">

      <li>
        <div class="flex flex-row">
          <%= icon("fa-solid", "hand") %>
          <p></p>
        </div>
      </li>

      <li>
        <div class="flex flex-row">
          <%= icon("fa-solid", "hand") %>
          <p></p>
        </div>
      </li>

      <li>
        <div class="flex flex-row">
          <%= icon("fa-solid", "hand") %>
          <p></p>
        </div>
      </li>

      <li>x</li>

      <li>y</li>
    </ul>

  </div>
  <!--menu items - end -->

</div>
