<%= render partial: "assos/navbar", locals: { asso: @my_asso, place: @my_place, donations: @donations, top_donators: @top_donators } if @my_asso %>

<% if @my_asso && @my_place && @account && @my_asso.signature.attached? %>

  <div class="fixed top-0 inset-x-0 bg-neutral-100"> <!-- fixed top page start -->
    <div class="pt-4">
      <div class="flex flex-row justify-end items-center px-5 py-2">
        <!-- nav - start -->
        <button data-controller="navbar" data-action="click->navbar#ouvre">
          <%= icon("fa-solid", "bars", class:"fa-lg")%>
        </button>
        <!-- nav - end -->
      </div>

      <!-- card - start -->
      <div class="flex flex-row justify-center items-center gap-x-16 py-2">
        <div class="hidden"> <!-- stimulus controller to toggle this -->
          <%= icon("fa-solid", "chevron_left")%> <!-- add "unless @my_place.length == 1 -->
        </div>

        <div class="flex flex-col items-center text-sm">
          <% if @my_place.place_image.attached? %>
            <%= cl_image_tag(@my_place.place_image.key, width: 80, height: 80, crop: "fill", alt:"picture", class:"rounded-full size-20 mb-1") %>
          <% else %>
            <div class="flex justify-center items-center rounded-full size-20 bg-gray-300">
              <%= svg_tag('image_empty', class:'size-10 bg-inherit text-gray-200') %>
            </div>
          <% end %>
          <p class="roboto-thin text-sm"><%= @my_place.name%></p>
          <p class="roboto-thin text-sm"><%= @my_place.street_no %> <%= @my_place.address %>, <%= @my_place.city %>, <%= @my_place.country %></p>
        </div>

        <div class="hidden">
          <%= icon("fa-solid", "chevron-right") %>
        </div>
      </div>
      <!-- card - end -->
    </div>
  </div> <!-- fixed top page end -->

  <div class="flex flex-col pt-48 gap-y-8"> <!-- scrolled page start -->
    <!-- total - start -->
    <div class="bg-white flex flex-col divide-y justify-center items-center roboto-medium text-4xl py-2 sm:pr-4 rounded-lg shadow-[0_0_12px_1px_rgba(0,0,0,0.1)]">
      <!--
        <div>
          <%= number_to_currency(@sum.to_f / 100, unit: "€", format: "%n %u") %>
        </div>
      -->
      <div class="flex flex-col w-11/12 gap-y-1 mb-2">

        <div class="flex flex-row w-full">

          <p class="text-base text-gray-500 flex-auto w-fit"> Collecte <%= I18n.l(@start_month, format: "%B", locale: :fr).capitalize %> </p>
          <!--
          <button class="rounded-lg p-1 shadow-sm active:shadow-inner bg-neutral-100">
            <%= link_to new_assos_payout_path do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
              </svg>
            <% end %>
          </button>
          -->

        </div>

        <div class="flex-auto w-fit self-center">
          <%= number_to_currency(@transfers_span_sum.fdiv(100), locale: :fr, strip_insignificant_zeros: true) %>
          <!--
          <%= number_to_currency(@transfers_all_sum.fdiv(100), locale: :fr, strip_insignificant_zeros: true) %>
          -->
        </div>
      </div>

      <div class="flex flex-col w-11/12 gap-x-4 pt-1">
        <p class="text-sm text-gray-500 flex-auto flex self-start whitespace-pre w-2/3 ">Solde en transfert vers <span class="before:content-['IBAN_****']"><%= @account.last_four %></span> </p>
        <div class="flex-auto w-1/3 self-end text-lg text-right text-gray-500 ">
          <%= number_to_currency(@balance_future.fdiv(100), locale: :fr, strip_insignificant_zeros: true ) %>
        </div>
      </div>

    </div>
    <!-- total - end -->

    <!-- chart - start -->
    <div class="space-y-2">
      <div class="text-gray-500 font-medium text-sm"><%= I18n.l(@start_month, format: "%B", locale: :fr).capitalize %></div>
      <div class="bg-white py-2 px-2 rounded-lg shadow-[0_0_12px_1px_rgba(0,0,0,0.1)]" data-controller="line-chart" data-line-chart-revenue-value= "<%= @revenue_per_day_current_month.to_json %>" data-line-chart-timeframe-value="<%= @array_complete_days_current_month.to_json %>">
        <div class="w-full">
          <canvas data-line-chart-target="revenueChart" id="revenueChart" aria-label="courbe" role="revenu" >
          </canvas>
        </div>
      </div>
    </div>
    <!-- chart - end -->

    <!-- top 10 donateur - start -->
    <div class="space-y-2">
      <div class="text-gray-500 font-medium text-sm">Top donateurs</div>
      <div class="bg-white flex flex-row justify-start items-center h-32 gap-x-2 p-1 rounded-lg overflow-x-auto text-center shadow-[0_0_12px_1px_rgba(0,0,0,0.1)]">
        <!--start-->
        <% @top_donators.first(10).each do |don| %>
          <div class="bg-white flex flex-col justify-evenly items-center gap-y-1 w-24 h-full p-0.5">

            <% if don[0].profile_image.attached? %>
              <%= cl_image_tag(don[0].profile_image.key, class:"rounded-full size-12") %>
            <% else %>
              <div class="size-12 flex justify-center items-center bg-black rounded-full text-xl font-medium text-white">
                <%= don[0].first_name[0].capitalize %><%= don[0].last_name[0].capitalize %>
              </div>
            <% end %>

            <p class="w-full text-sm text-center text-wrap truncate"><%= don[0].first_name %> <%= don[0].last_name%> </p>
          </div>
        <% end %>
        <!--end-->
      </div>
    </div>
    <!-- top 10 donateur - end -->

    <!-- last 10 donations - start -->
    <div class="space-y-2">
      <div class="text-gray-500 font-medium text-sm">Derniers dons</div>
      <!-- h-dvh or h-40 or h-screen. A voir... -->
      <div class="bg-white flex flex-col min-h-24 gap-2 divide-y divide-black/30 rounded-lg p-2 overflow-y-auto shadow-[0_0_12px_1px_rgba(0,0,0,0.1)] shadow-black/10">
        <!--start-->
        <%= render partial: "shared/donations", locals: { donations: @sorted_donations, size: 10 } %>
        <!--end-->
      </div>
    </div>
    <!-- last 10 donations - end -->
  </div>
  <!-- scrolled page end -->
<% elsif @my_asso && @my_place %>
  <div class= "w-full">
    <div class="flex flex-col justify-center items-start gap-y-8 py-4">
      <p>
        Vous devez créer un portefeuille monétaire pour recevoir et transférer des fonds.
      </p>

      <% if !@my_asso.signature.attached? %>
        <div id="signature">
          <%= render partial: 'assos/signatures/form_signature', locals: { asso: @my_asso } %>
        </div>
      <% else %>
        <%= cl_image_tag(@my_asso.signature.key) %>
      <% end %>

      <% if !@account %>
        <%= render partial:'assos/accounts/form_onboarding', locals: { action: 'Activer mon portefeuille' } %>
      <% end %>

    </div>
  </div>
<% elsif @my_asso %>
  <div class= "w-full">
    <%= render partial: "assos/places/form_place", locals: { place: @place } %>
  </div>
<% else %>
  <div class= "w-full">
    <%= render partial: "form_asso", locals: { asso: @asso } %>
  </div>
<% end %>
