<% if reviews.length > 0 %>
  <div class="space-y-8">
    <% reviews.each do |review| %>
      <%# 1 review card %>
      <div class="flex flex-col gap-y-2">
        <%# who %>
        <div class="flex items-center gap-x-4 justify-start">
          <%# profile img of donator %>
          <% if review.donator.profile_image.attached? %>
            <%= cl_image_tag(review.donator.profile_image.key, class:"rounded-full size-12") %>
          <% else %>
            <div class="size-12 flex justify-center items-center bg-black rounded-full text-xl font-medium text-white">
              <%= review.donator.first_name[0].capitalize %><%= review.donator.last_name[0].capitalize %>
            </div>
          <% end %>

          <%# donator name and date of membership %>
          <div class="font-medium">
            <h2><%= review.donator.first_name.capitalize %></h2>
            <% if review.donator.visitor? %>
              <p class="text-xs text-gray-600 font-normal">Visiteur</p>
            <% else %>
              <p class="text-xs text-gray-600 font-normal">DoGooder depuis <%= distance_of_time_in_words_to_now(review.donator.created_at, scope: 'datetime.distance_in_words') %></p>
            <% end %>
          </div>

        </div>

        <%# rating score %>
        <div class="flex items-center justify-start">

          <% review.rating.times do %>
            <%= svg_tag('star', class:'size-3 scale-75 text-black') %>
          <% end %>
          <% (5 - review.rating.to_i).times do %>
            <%= svg_tag('star', class:'size-3 scale-75 text-black/20') %>
          <% end %>

          <span class="size-0.5 mx-1.5 bg-gray-500 rounded-full"></span>

          <div class="text-xs text-black">
            <p> Il y a <%= distance_of_time_in_words_to_now(review.created_at) %> </p>
          </div>

        </div>

        <%# content %>
        <% if !review.content.empty? %>
          <p class="text-sm leading-6 text-justify"> <%= review.content %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <%# pas de review %>
  <div>
    <p>Il n'y a pas encore d'avis.</p>
  </div>
<% end %>
