<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Goodify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--A2HS PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <!--A2HS PWA -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>

  <body class="h-full bg-neutral-100 roboto-regular">
    <!--
    <p class="notice absolute top-0 z-50"><%= notice %></p>
    <p class="alert absolute top-0 z-50"><%= alert %></p>
    comment render flash
    -->
    <%= render partial: "shared/flash" %>

    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
