<!DOCTYPE html>
<html>
  <head>
    <title>Goodify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--A2HS PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <!--A2HS PWA -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>

  <body class="bg-white roboto-regular" data-controller="touch-indicator">
    <!--
    <p class="notice absolute top-0 z-50"><%= notice %></p>
    <p class="alert absolute top-0 z-50"><%= alert %></p>
    comment render flash
    -->
    <%= render partial: "shared/flash" %>
    <header>
      <nav>
        <div class="fixed z-50 top-0 inset-x-0 py-2.5 flex justify-start bg-indigo-50">
          <%# <h1 class="text-2xl font-medium roboto-medium-italic tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-orange-400 from-35% via-orange-500 to-55% to-orange-600 text-center ">G o o d i f y</h1> %>
          <h1 class="ml-5 text-3xl font-bold roboto-bold-italic tracking-wide text-transparent bg-clip-text bg-black text-center ">Goodify</h1>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
